/* Centers the whole page content */
.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Makes sure it takes the full height of the viewport */
    background-color: #f0f0f0;
}

.header-section {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-container {
    max-width: 600px; /* Controls the width of the content */
    margin: 0 auto;  /* Centers the content */
}

.logo {
    width: 150px; /* Adjust the logo size */
    height: auto;
    margin-bottom: 20px;
}

.login-button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #0056b3;
}
.pharmacy-info ul {
    list-style-type: none;  /* This removes the dots */
    padding: 0;
    margin: 0;  /* Ensures no extra margin is added */
}
