/* import styles.css  */

/* Centering the login box on the screen */
.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0 20px;
	background-color: #f4f4f9;
}

h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}

.login-box {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Make the input fields centered inside the form */
.form-group {
	width: 100%;
	margin-bottom: 15px;
	text-align: left;

	padding: 0 10px; /* Add padding to the left and right */
	box-sizing: border-box; /* Ensure padding doesn't affect total width */
}

.form-group label {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
	color: #333;
}

.form-group input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box; /* Ensure padding doesn't affect total width */

	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

/* Styling for error states */
.error-input {
	border-color: #e74c3c;
}

.error-message {
	color: #e74c3c;
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #2980b9;
}

/* Disabled state */
button:disabled {
	background-color: gray; /* Grayed out color */
	color: #ccc; /* Make text lighter */
	cursor: not-allowed; /* Change cursor to indicate it's disabled */
	pointer-events: none; /* Disable hover effects */
}

/* button.disabled:hover {
	background-color: gray; /* No hover effect */
/*} */

.password-help,
#attempts-message {
	margin-top: 15px;
	font-size: 14px;
	color: #666;
	text-align: center;
}

/* Responsive design */
@media (max-width: 600px) {
	.login-box {
		padding: 20px;
	}

	h1 {
		font-size: 20px;
	}

	button {
		font-size: 14px;
	}
	.logo {
		width: 150px;  /* Adjust size as needed */
		height: auto;
		margin-bottom: 20px;
	}
}
