/* global style sheet */

/* Importing a Google Font (Roboto) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Global Styles */
body {
	font-family: "Roboto", sans-serif; /* Clean, modern font */
	margin: 0;
	padding: 0;
	background-color: #f5f5f5; /* Light background color */
	color: #333; /* Dark gray for general text */
}

/* Main theme colors */
:root {
	--main-color: #007bff; /* Primary blue */
	--accent-color: #28a745; /* Accent green */
	--secondary-color: #6c757d; /* Muted gray for secondary text */
	--background-color: #f5f5f5; /* Light gray background */
	--secondary-background-color: #6eacee; /* Primary blue */
	--error-color: #dc3545; /* Red for error messages or alerts */
	--text-color: #333; /* Main text color */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--main-color);
	margin-bottom: 20px;
	font-weight: 500;
}

/* Paragraphs */
p {
	line-height: 1.6;
	color: var(--text-color);
	margin-bottom: 15px;
}

/* Links */
a {
	color: var(--main-color);
	text-decoration: none;
}

a:hover {
	color: var(--accent-color);
	text-decoration: underline;
}

/* Buttons */
button,
input[type="button"] {
	background-color: var(--main-color);
	color: white;
	border: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover,
input[type="button"]:hover {
	background-color: var(--accent-color);
}

/* Form Inputs */
input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	/* margin-bottom: 15px; */
}

/* Error text */
.error-text {
	color: var(--error-color)!important;
}

/* Centered container */
.centered-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--background-color);
}
/* the div that contains the header, button and all content on the page with a table view */
/* .centered-table-view {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 90vw; */
/* } */

/* for the div that contains just the complete data table component */
/* .table-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
} */

/* for the actual data table, within the react component */
/* .data-table-div {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 90vw; */
/* } */
